<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS templates</title>
</head>

<body>
    <%- include('header') -%>
        <h2>Welcome to EJS Service page</h2>
        <p>Name : <%= studentDetails.studentName %>
        </p>
        <p> Email : <%= studentDetails.studentEmail %>
        </p>
        <p> Course : <%= studentDetails.studentCourse %>
        </p>
        <p> Contact : <%= studentDetails.studentContact %>
        </p>
        <p>
        <p>Skills :
        <ul>
            <% studentDetails.studentSkills.forEach((itemList)=>{ %>
                <li>
                    <%= itemList %>
                </li>
                <% }) %>
        </ul>
        </p>
        <%- include('footer') -%>
</body>

</html>